absl-py==0.9.0
alabaster==0.7.12
alembic==1.4.2
altair==4.1.0
anaconda==0.0.1.1
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.2
appdirs==1.4.4
arrow==0.15.5
asn1crypto==0.24.0
astor==0.8.1
astroid==2.1.0
astropy==4.0.1.post1
atomicwrites==1.3.0
attr==0.3.1
attrs==19.3.0
autopep8==1.4.3
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
base58==2.0.0
beautifulsoup4==4.6.3
binaryornot==0.4.4
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.1.4
blinker==1.4
bokeh==1.0.2
boto==2.49.0
boto3==1.13.5
botocore==1.16.5
Bottleneck==1.2.1
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
clyent==1.2.2
colorama==0.4.1
colorlover==0.3.0
comtypes==1.1.7
conda==4.8.3
conda-build==3.17.6
conda-package-handling==1.6.0
conda-verify==3.1.1
confuse==1.0.0
contextlib2==0.5.5
cookiecutter==1.7.0
cryptography==2.4.2
cufflinks==0.16
cycler==0.10.0
Cython==0.29.2
cytoolz==0.9.0.1
dask==1.0.0
datashape==0.5.4
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.0
distributed==1.25.1
docutils==0.14
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.10
Flask==1.0.2
Flask-Cors==3.0.7
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
funcy==1.14
future==0.17.1
gast==0.3.3
geographiclib==1.50
geopy==1.21.0
gevent==1.3.7
glob2==0.6
greenlet==0.4.15
grpcio==1.28.1
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
htmlmin==0.1.12
idna==2.8
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==1.6.0
ipykernel==5.2.0
ipyparallel==6.2.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
jedi==0.16.0
Jinja2==2.11.1
jinja2-time==0.2.0
jmespath==0.9.5
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.2.6
jupyterlab-server==1.0.0
kaggle==1.5.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==17.0.0
kiwisolver==1.2.0
lazy-object-proxy==1.3.1
libarchive-c==2.8
lightgbm==2.3.1
llvmlite==0.31.0
locket==0.2.0
lxml==4.2.5
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
menuinst==1.4.14
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.2
mlxtend==0.17.2
mock==4.0.2
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.5.6
multipledispatch==0.6.0
multiprocess==0.70.9
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.5
networkx==2.4
nltk==3.4
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numexpr==2.6.8
numpy==1.18.2
numpydoc==0.8.0
odo==0.5.1
olefile==0.46
openpyxl==2.5.12
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.3
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
phik==0.9.9
pickleshare==0.7.5
Pillow==7.1.2
pipenv==2018.11.26
pkginfo==1.4.2
plotly==3.10.0
pluggy==0.13.1
ply==3.11
poyo==0.5.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.3
psutil==5.4.8
psycopg2==2.8.5
py==1.8.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydeck==0.3.1
pyflakes==2.0.0
Pygments==2.6.1
pyLDAvis==2.1.2
pylint==2.2.2
pyodbc==4.0.25
pyOpenSSL==18.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.16.0
PySocks==1.6.8
pytest==5.4.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.2.0
pytest-openfiles==0.3.1
pytest-pylint==0.15.1
pytest-remotedata==0.3.1
python-dateutil==2.7.5
python-editor==1.0.4
python-louvain==0.14
python-slugify==4.0.0
pytz==2018.7
PyWavelets==1.0.1
pywin32==227
pywinpty==0.5.7
PyYAML==3.13
pyzmq==19.0.0
QtAwesome==0.5.3
qtconsole==4.6.0
QtPy==1.5.2
requests==2.22.0
researchpy==0.1.9
retrying==1.3.3
rope==0.11.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
scikit-image==0.14.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
shap==0.35.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
slugify==0.0.1
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.1.0
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
spotipy==2.10.0
spyder==3.3.2
spyder-kernels==0.3.0
SQLAlchemy==1.3.17
StackAPI==0.1.12
statsmodels==0.9.0
streamlit==0.59.0
sympy==1.3
tables==3.4.4
tangled-up-in-unicode==0.0.3
tblib==1.3.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tika==1.24
toml==0.10.0
toolz==0.9.0
tornado==5.1.1
tqdm==4.42.0
traitlets==4.3.3
tzlocal==2.1
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.24.3
validators==0.15.0
virtualenv==20.0.21
virtualenv-clone==0.5.4
visions==0.2.2
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==0.14.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.1
WTForms==2.3.1
xlrd==1.2.0
XlsxWriter==1.1.2
xlwings==0.15.1
xlwt==1.3.0
yellowbrick==1.1
zict==0.1.3
zipp==3.1.0
